@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans&display=swap');
@import "./libs/_jquery.fancybox.min";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 1440px;
    margin: 0 auto;
}

