@import "./libs/_fonts.scss";
@import "./libs/_jquery.fancybox.min";


// Our Libs

@import "./vars/_colors";
@import "./libs/_texts";
@import "./libs/_buttons";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Evolenta", sans-serif;

}

.container {
    width: 1440px;
    margin: 0 auto;
}

